.table-fixed td {
	background-color: #0f0f0f;
}
.table-fixed td.red, #legenda td.red{
	background: red;
	color:#fff;
}
.table-fixed td.yellow, #legenda td.yellow{
	background: yellow;
	color:#000;
}
.table-fixed td.confirmed, #legenda td.confirmed{
	background: #ccc;
	color:#fff;
}
.table-fixed td a{
	text-decoration:underline;
	font-weight:bold;
	color:#fff;
	}
.table-fixed td.yellow a{
	color:#000;
	}
.table-fixed td select{
	width:190px;
	}
.timeslots-free{
	display: none;
}
td.times-list select{
	margin-top:10px;
}
table.table-fixed {
	margin-bottom: 0;
}
.admin-container table.table-fixed{
	border: 0;
}
.admin-container table th.table-fixed {
	border-top: 0 !important;
}
.table-results {
	width: 98vw;
	height: 90vh;
	margin-bottom: 20px;
}


/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*/

/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
	/* position */
	margin: 0;

	/* size */
	padding: 0;

	/* text */
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}

.fht-table {
	/* appearance */
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	/* appearance */
	overflow: hidden;

	/* position */
	position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	/* appearance */
	overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
	/* appearance */
	overflow: hidden;

	/* size */
	height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
	/* position */
	top: 0;
	left: 0;
	position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
	/* position */
	z-index: 1;
}

/* @end */