# files
.DS_Store
Thumbs.db
*.sql
/.idea/
/*.log
/*.txt
/*.xml
/*.dt
*.tar.gz
/LTMFINAL
.htaccess

# core
/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
!/bitrix/components/
/bitrix/components/bitrix/
!/bitrix/modules/doka.meetings/
# upload
/upload/*
/cgi-bin/

