# files
.DS_Store
Thumbs.db
*.gz
*.sql
/.idea/
/*.log
/*.txt
/*.xml
/*.dt
*.tar.gz
/LTMFINAL
/cache
/pma
/dev
/video_files/
.htaccess
test.php

# core
/bitrix/*
# upload
/upload/*
/cgi-bin/
/local/log/*
