#e_info{
	width: 640px;
	margin: 20px 20px 20px 0;
	border-collapse: collapse;
	position: relative;
	z-index: 100;
	background: #fff;
	table-layout: fixed;
}
#e_info td{
	border: 1px solid #d1d1d1;
	padding: 4px;
	word-wrap: break-word;
}
.tr_e_f td{
	text-align: center;
}
.trHover{
	background: #5a5858 !important;
	color: #fff !important;
}