div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
div.partners .prev-img{
position:relative;
float:left;
}
div.partners .prev-text{
position:relative;
float:left;
width: 390px;
overflow: hidden;
}