.photo-uploader {
	color: #00AEEF;
	font-size: 14px;
	cursor: pointer;
}

.photo-uploader input {
	display: none;
}

.img_preview
{
	background-position: center center;
	background-repeat: no-repeat;
	width: 110px;
	height: 110px;
	background-size: cover;
}

.member .photo-delete {
	width: 26px;
	height: 26px;
	transition-duration: 0.6s;
	position: absolute;
	top: calc(50% - 13px);
	right: calc(50% - 13px);
	cursor: pointer;
	background-color: red;
	border-radius: 13px;
	display: none;
}


.member .photo-delete::before, .member .photo-delete::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 1px);
  top: 0%;
  width: 2px;
  height: 26px;
  background-color: white;
}
.member .photo-delete::before {
  transform: rotate(45deg);
}
.member .photo-delete::after {
  transform: rotate(-45deg);
}



.member:hover .photo-delete {
	display: block;
}

.member .layer {
	background-color: rgba(0,0,0,0.5);
	width: 110px;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.member:hover .layer {
	display: block;
}




